@import "tailwindcss";

@font-face {
  font-family: "f1";
  src: url("/src/assets/fonts/Formula1-Bold.woff") format("woff");
}

* {
  font-family: "Poppins", sans-serif;
}

.error {
  color: red;
}

.success {
  color: green;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-f1 {
  font-family: "f1";
}
